/*
Tablet Responsive
Trivia Quiz Project
*/

@media (max-width: 1024px) {

  .quiz-app {
    max-width: 760px;
    height: 84vh;
  }

  .quiz-header h1,
  .start-card h1,
  .options-card h1,
  .credits-card h1 {
    font-size: 1.9rem;
  }

  #question {
    font-size: 1.06rem;
  }

  .category-grid {
    grid-template-columns: repeat(4, 1fr);
  }

}